---
// https://docs.astro.build/en/guides/integrations-guide/markdoc/#custom-image-components
// https://discord.com/channels/830184174198718474/1182681722215743578/1204466454922002452
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

interface Props {
  src: ImageMetadata | string;
  alt: string;
  title: string;
  __optimizedSrc: any;
}

const { src, alt, title, __optimizedSrc } = Astro.props;
---
<figure>
  <div class="flex justify-center items-center">
    <img class="rounded-lg not-prose" src={__optimizedSrc.src} height={__optimizedSrc.height} width={__optimizedSrc.width} alt={alt} />
  </div>
  {title && <figcaption class="text-center italic">{title}</figcaption>}
</figure>
