---
import { registry } from 'src/content/registry.mjs';

interface Props {
  categories: Array<string>;
  netType: string;
}

const { netType } = Astro.props;

const registeredFundingTypes = registry
  .allFundingTypes()
  .filter(ft => ft.network.type == netType);

---
<div class="overflow-x-auto">
  <table>
    <thead>
      <tr>
        <th>Network</th>
        <th>Token</th>
        <th>Funding Protocol</th>
        <th>Funding Type</th>
      </tr>
    </thead>
      <tbody>
        {registeredFundingTypes.map(fundingType => (
          <tr>
            <td><nobr>{fundingType.network.title}</nobr></td>
            <td><a href={fundingType.token.docsPath}><nobr>{fundingType.token.title}</nobr></a></td>
            <td><a href={fundingType.protocol.docsPath}><nobr>{fundingType.protocol.title}</nobr></a></td>
            <td><nobr><code>{fundingType.name}</code></nobr></td>
          </tr>
        ))}
    </tbody>
  </table>
</div>
